<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BM_TURNERO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BM_TURNERO.My.MySettings.CONEXION" connectionString="Data Source=SVR-BM\SQL;Initial Catalog=TURNERO;User ID=sa;Password=Sultan26;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BM_TURNERO.My.MySettings>
            <setting name="IMPRESORA" serializeAs="String">
                <value />
            </setting>
        </BM_TURNERO.My.MySettings>
    </userSettings>
</configuration>